<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nefarius.ViGEm.Client" version="1.21.256" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net452" />
</packages>